body {
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.Display {
  display: flex;
  background-color: gray;
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
}

.ButtonPanel {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.buttonrow {
  height: 100px;
}

button {
  height: 100%;
  text-align: center;
  color: black;
  font-size: 20px;
  border: solid gray 1px;
}

.orange {
  background-color: orange;
}

.lightgray {
  background-color: lightgray;
}

.small {
  width: 25%;
}

.large {
  width: 50%;
}
